<html>
  <head>
    <title><%= appname %> entries</title>
    <style type="text/css">
      a img { border: none; }
      p.error { color: red; }
      .latest1 { color: #FF0000; }
      .latest2 { color: #C00000; }
      .latest3 { color: #800000; }
      div.listings { margin: 0 0 0 1.5em; }
      ul {
        list-style-type: none;
        margin: 0 0 0.8ex -1.5em;
        padding: 0 0 0 0em;
      }
      li {
        margin: 0;
        padding: 0 0 0 3em;
        text-indent: -2em;
      }
    </style>
  </head>
  <%= yield %>
</html>
