<html>
  <head>
    <title><%= appname %> login</title>
    <style type="text/css">
      body {
        font-size: <%= h(setting.font_size) %>pt;
      }
      h1 { font-size: 110%; }
      p.message { color: red; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
