<html>
  <head>
    <title><%= appname %> login</title>
    <style type="text/css">
      body { font-family: Arial, sans-serif; }
      p.error { color: red; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
