<html>
  <head>
    <title><%= appname %> login</title>
    <style type="text/css">
      h1 { font-size: 10pt; }
      body {
        font-family: Arial, sans-serif;
        font-size: 8pt;
      }
      p.error { color: red; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
